.center {
  text-align: center;
  margin-top: 250px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

.currentcenter {
    text-align: center;
    font-size: 28px;
    margin-top: 30px;
}

div.currenttodos {
    text-align: center;
    font-size: 25px;
    transition-duration: 0.2s;
}

div.currenttodos ul {
    display: inline-block;
    text-align: left;
    max-width: 70%;
}

div.currenttodos ul a {
    text-decoration: none;
}

.ex {
  font-size: large;
  text-decoration: none;
  transition-duration: 0.2s;
}

.button1 {
  border-radius: 8px;
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2.5px solid #ff9933;
}

.button1:hover {
  border-radius: 12px;
  background-color: #ff9933;
  color: white;
}

.button1:active {
    transform: translate(0em, 0.2em);
}

.button1:active::before {
    transform: translate3d(0,0, 1em);
}

.logoutbutton {
    border-radius: 8px;
    border: none;
    padding: 3px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2.5px solid #ff9933;
}

.logoutbutton:hover {
    border-radius: 12px;
    background-color: #ff9933;
    color: white;
  }

.scale {
    transition: 0.5s;
}
.scale:hover {
    transform: scale(1.1);
}

.button2 {
    border-radius: 8px;
    border: none;
    padding: 4px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 1px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2.5px solid #0e0d0d;
}

.button2:hover {
    border-radius: 12px;
    background-color: #000000;
    color: white;
}

